@import "../theme/colours.scss";

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    background: black;
}

.heading{
    font-family:'Headline'; 
    color:white;
    font-weight:700;
    font-size:1.5em;
    padding:10px;
    text-transform: uppercase;
}

.playcontainer{
    position: absolute;
    width:100vw;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.play{
    top: 100px;
    left:100px;
    color: white;
    background: black;
    font-family: 'Headline-Light';
    font-size: 1.5em;
    margin-top:80px;
    height: 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 3px;
    border: 2px solid #2a3747;;
    border-radius: 5px;
    width: fit-content;
    padding:20px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    cursor: pointer;  
}