@import "../theme/colours.scss";

.square{
    display: block;
}
.stylecontainer{
    display: block;
}

.gridcategories{
    opacity: 1.0;
}

.container{
    display:flex;
    width:100vw;
    min-height:100vh; 
    justify-content:center;
    background: $gallerybackground;
}

.tooltip{
    position:absolute;  
    background: $gallerybackground;
    border: 2px solid white; 
    border-radius: 5px;
    width: 300px;
    padding:10px;
    color: black;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    font-size:0.9em;

}

.summary{
    color: white;
    margin:10px;
    font-weight: 700;
    font-size: 2em;
    font-family: 'Headline-Light';
    letter-spacing: 3px;
}

.summarycontainer{
    margin-top: 0px;
}
.subknowledge{
    color: white;
    font-size: 1.1em;
    text-align: center;
}

.subchoice{
    color: white;
    font-size: 3.1em;
    text-align: center;
}
@media print {
    .square{
        display: none;
    }
    .stylecontainer{
        display: none;
    }
    .gridcategories{
        opacity: 0;
    }
}