@import "../theme/colours.scss";

@font-face {
    font-family: 'Avenir';
    src:  url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
  }

  
.hexagon {
    fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.5;
}

.outerhex{
    fill:$outershape;
    opacity:0.5;
}

.questiontext{ 
     text-align: center; color:white; font-family: 'Nunito', sans-serif; font-weight:300; line-height: 1.5em;
}

.scaleline{
    fill:none;stroke:#c8c8c8;stroke-width:0.3px
}

.center{
    fill:#61b359;
}

.zerotext{
    font-family:'Helvetica-Bold', 'Helvetica';font-weight:700;font-size:5.811px;
}

.innerhexline{
    fill:$d3;
    stroke-width:1px;
    stroke:black;
}

.controlpoint{
    fill:#fff;
}

.rotatepoint{
   fill-opacity:1.0
}

.value{
    text-anchor: middle;  font-family: 'Nunito', sans-serif;font-weight:700;font-size:5px;fill:#000;
  }