@font-face {
    font-family: 'Avenir';
    src:  url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
  }

  
.hexagon {
    fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.5;
}

.outerhex{
    fill:#61b359;
}
.questiontext{
    text-anchor: middle; font-family: 'Nunito', sans-serif;font-weight:300;font-size:4.1px;fill:#c8c8c8;
}
.scaleline{
    fill:none;stroke:#c8c8c8;stroke-width:0.4px
}

.center{
    fill:#3c6647;
}

.zerotext{
    font-family:'Helvetica-Bold', 'Helvetica';font-weight:700;font-size:5.811px;
}

.innerhexline{
    fill:#3c6647;fill-opacity:1;
}

.controlpoint{
    fill:#fff;
}

.rotatepoint{
   fill-opacity:1.0
}