@font-face {
    font-family: 'Avenir';
    src:  url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
  }

  
.hexagon {
    fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.5;
}

.outerhex{
    fill:#61b359;
}
.questiontext{ 
    height:80px; text-align: center; color:#c8c8c8; font-family: 'Nunito', sans-serif; font-weight:300; 
}

.scaleline{
    fill:none;stroke:#c8c8c8;stroke-width:0.3px
}

.center{
    fill:#3c6647;
}

.zerotext{
    font-family:'Helvetica-Bold', 'Helvetica';font-weight:700;font-size:5.811px;
}

.innerhexline{
    fill:#3c6647;fill-opacity:1;
}

.controlpoint{
    fill:#fff;
}

.rotatepoint{
   fill-opacity:1.0
}