
@font-face {
    font-family: 'Avenir';
    src:  url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
  }

  
.square {
    fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.5;
}

.outersquare{
    fill:#7c5a36;stroke-width:1.15px;
}
.questiontext{
    text-align: center; color:white; font-family: 'Nunito', sans-serif; font-weight:300; line-height: 1.5em;
}

.scaleline{
    fill:none;stroke:#c8c8c8;stroke-width:0.3px
}

.center{
    fill:#e19c38
}

.innersquare{
    fill:#e19c38;fill-opacity:1;
    stroke:black;stroke-opacity:1;stroke-width:1px;
}
.controlpoint{
    fill:#fff;
}

.rotatepoint{
    fill:#fff;
}

.value{
    text-anchor: middle;  font-family: 'Nunito', sans-serif;font-weight:700;font-size:5px;fill:#000;
  }