
@font-face {
    font-family: 'Avenir';
    src:  url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
  }

  
.square {
    fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.5;
}

.outersquare{
    fill:#e19c38;stroke-width:1.15px;
}
.questiontext{
    text-anchor: middle; fill:#c8c8c8; font-family: 'Nunito', sans-serif; fill:"white"; font-weight:300;font-size:4.2px;
}
.scaleline{
    fill:none;stroke:#c8c8c8;stroke-width:0.4px
}

.center{
    fill:#7c5a36
}

.innersquare{
    fill:#7c5a36;fill-opacity:1;
}
.controlpoint{
    fill:#fff;
}

.rotatepoint{
    fill:#fff;
}