@import "../theme/colours.scss";

.container{
    min-height:100vh;
    background-color: $gallerybackground;
}
.gallerycontainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
   padding-bottom: 120px;
}

.label{
    text-align: center;
    font-weight: 700;
    color:white;
    font-family: 'Headline';
    font-size: 30px;
    letter-spacing: 3px;
}

.heading {
    text-align: center;
    font-weight: 700;
    color:white;
    font-family: 'Headline';
    font-size: 70px;
    letter-spacing: 3px;
}

.logocontainer{
    position: fixed;
    bottom:0px;
    height: 120px;
    width:100vw;
    padding-bottom:20px;
    background: $gallerybackground;
}


