
@import "../theme/colours.scss";

@font-face {
  font-family: 'Avenir';
  src:  url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
}


.trianglesvg{
  fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.5;
}

.outertriangle{
 stroke:none;stroke-width:1.09px;
 fill:$outershape;
 opacity:0.8;
}

.triangleoutline{
  fill:none;stroke:#557B83;stroke-width:0.3px;
}

.innertriangle{
  fill-opacity:1;
  fill:$d1;
  stroke: black; 
  stroke-width:1px;
}

.ghost{
  fill-opacity:0.2;
  fill:white;
}

.gamut{
  display:"flex";
}

.rotation{
  fill:white;
  stroke:black;
  stroke-width:0.9px;
}

.label{
  fill:white;
  opacity: 0.8;
  text-anchor:middle;
  font-size:0.48em;
  font-family:Avenir;
}

.value{
  text-anchor: middle;  font-family: 'Headline-Light', sans-serif;font-weight:700;font-size:5px;fill:#000;
}

.inneroutline{
  fill:#fff;stroke:#000;stroke-width:1.09px;
}

.textvalue{
  text-anchor: middle;  font-family: 'Headline-Light', sans-serif;font-weight:700;font-size:4px;fill:#848484;
}

.text0value{
  font-family: 'Headline-Light', sans-serif;font-weight:700;font-size:4px;fill:black;
}

.sliderlabel{
  font-family: 'Avenir';
  font-size:18px;
  fill:white;
}
.questiontext{
 text-align: center; color:white; font-family: 'Avenir', sans-serif; font-weight:300; line-height: 1.5em; padding:30px 0px 30px 0px;
}

.canvascontainer {
  width:300px;
  height:300px;
}

.svgcontainer {
  padding:20px;
  width:300px;
  height:300px;
}

.control{
  fill: white;
  stroke: black;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.filld1{
  fill:$d1;
}

.filld2{
  fill:$d2;
}
.filld3{
  fill:$d3;
}

.nextChapter{
  font-family: 'Headline-Light';
  font-size: 1.5em;
  margin-top:80px;
  height: 50px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 3px;
}

.feedbackcontainer{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  
}

.feedbacktext{
  font-family: 'Headline';
  color: white;
  opacity:0.5;
  font-size: 1.5em;
  letter-spacing: 3px;
  margin-top: 20px;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
