@import "../theme/colours.scss";

.outercontainer{
    display:flex; 
    height:100vh;
    flex: 1 1 auto;
    background:$maincontainer;
}

.innercontainer{
    background:$container;
    display:flex; 
    align-items:center;
    justify-content:center;
    flex: 1 1 auto;
}

.chaptercontainer{
    display:flex;
    background: $container;
}


.screen{
    display:flex; 
    height:100vh; 
    width:100vw;
    align-items:center;
    background:$outershape;
    justify-content:center;
}

.chaptersidebar{
    font-family: 'Headline-Light';
    font-size: 1.5em;
    padding-top:  9px; 
    margin:10px;
    opacity:0.5; 
    text-align:"center"; 
    height: 50px;
}



@media print {
    
    .screen{
        display:flex; 
        height:50vh; 
        width:50vw;
        background:white;
    }

    .outercontainer{
        display:flex; 
        height:50vh;
        flex: 1 1 auto;
        background:white;
    }

    .chaptercontainer{
        display:none;
    }
    
    .outercontainer{
        display:flex; 
        height:100vh;
        flex: 1 1 auto;
        background:white;
    }

    .innercontainer{
        background:white;
        display:flex; 
        align-items:center;
        justify-content:center;
        flex: 1 1 auto;
    }
}